.admin-container {
  min-height: 100vh;
  max-width: 1000px;
  padding: 40px 20px;
  background: linear-gradient(135deg, #f8fafc, #e0f2fe);
}

/* HEADING */
.main-heading {
  text-align: center;
  font-size: 32px;
  margin-bottom: 30px;
  font-weight: 600;
  color: rgb(6, 51, 77);
}

/* CARD */
.card {
  background: white;
  padding: 25px;
  border-radius: 16px;
  margin-bottom: 25px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.05);
  height: auto;
}

.card h2 {
  margin-bottom: 15px;
  color: #333;
}

/* INPUTS */
input, textarea {
  width: 100%;
  padding: 12px;
  border-radius: 10px;
  border: 1px solid #ddd;
  margin-top: 10px;
  font-size: 14px;
  font-family: inherit;
  color: #333;
}

textarea {
  resize: none;
  height: 100px;
}

/* GRIDS */
.grid-2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 12px;
}

.grid-3 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 12px;
}

.grid-4 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}

/* BUTTON */
.save-btn {
  width: 100%;
  padding: 14px;
  border: none;
  border-radius: 12px;
  background: linear-gradient(135deg, #6366f1, #0ea5e9);
  color: white;
  font-size: 16px;
  cursor: pointer;
}

/* RESPONSIVE */
@media (max-width: 900px) {
  .grid-4 {
    grid-template-columns: 1fr 1fr;
  }

  .grid-3 {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 600px) {
  .grid-2 {
    grid-template-columns: 1fr;
  }

  .main-heading {
    font-size: 24px;
  }
}

/* IMAGE ROW */
.image-row {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: space-between;
  margin-top: 10px;
}

/* REMOVE BUTTON */
.remove-btn {
  background: #ef4444;
  color: white;
  border: none;
  padding: 10px 14px;
  border-radius: 8px;
  cursor: pointer;
}

/* ADD BUTTON */
.add-btn {
  margin-top: 10px;
  padding: 10px 16px;
  border: none;
  background: #0ea5e9;
  color: white;
  border-radius: 8px;
  cursor: pointer;
}